# Configuration de la base de données (Supabase PostgreSQL)
DATABASE_URL=postgres://user:password@host:port/dbname

# Configuration Cloudinary (Stockage des images)
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME

# Configuration Django
SECRET_KEY=votre_cle_secrete_django
DEBUG=False
FRONTEND_URL=https://votre-frontend-vercel.vercel.app

# Configuration Email (SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=votre_email@gmail.com
EMAIL_HOST_PASSWORD=votre_mot_de_passe_d_application
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=votre_email@gmail.com
